<div class="center-align">
  <ul class="pagination">
    {{#unless (eq pagination.currentPage 1)}}
      <li>
        <a href="#!"><i class="material-icons">chevron_left</i></a>
      </li>
    {{/unless}}

    {{!-- <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li> --}}
    {{or (inc pagination.currentOffset) 1}} - {{or pagination.nextOffset pagination.count}} of {{pagination.count}}

    {{#if pagination.nextOffset}}
      <li class="waves-effect">
        <a href="#!"><i class="material-icons">chevron_right</i></a>
      </li>
    {{/if}}
  </ul>
</div>
