<div class="container">
  <div class="row">
    <blockquote>
      <h4>Participant Editor (ID: {{participant.id}})</h4>
    </blockquote>
  </div>
  <ParticipantEditor
    @participant={{participant}} />
</div>