<nav>
  <div class="nav-wrapper">
    <LinkTo
      @route="index"
      class="brand-logo">
      Annual Championship Exam 2019-20
    </LinkTo>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Fill Form</a></li>
    </ul>
  </div>
</nav>