<nav>
  <div class="nav-wrapper">
    <LinkTo
      @route="index"
      class="brand-logo">
      Annual Championship Exam 2019-20
    </LinkTo>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <LinkTo
          @route="participate">
          Fill Form  
        </LinkTo>          
      </li>
    </ul>
  </div>
</nav>